<div>

    <style>

        .organizationLeaf {
          background: url("/assets/images/icons/organization.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        }

        .userLeaf {
          background: url("/assets/images/icons/user.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        }

        .archivedUserLeaf {
          background: url("/assets/images/icons/archivedUser.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        }

        .newUserLeaf {
            background: url("/assets/images/icons/newUser.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        }

    </style>


<div>
  <div id="accountMembersListTreeDiv"></div>
</div>


</div>