<div data-dojo-attach-point="containerNode">


    <div class="${rowClass}" data-dojo-attach-point="planSelectorRow">
        <span class="${labelClass}" data-dojo-attach-point="planSelectorLabel">Plan: </span>
        <span>
            <select data-dojo-attach-point="planSelectBox" id="planSelectBox"
                    name="${fieldName}"  data-dojo-type="dijit/form/Select"
                    style="width: 200px;">


            </select>
        </span>


    </div>

    <div class="${rowClass}">
        <span class="${labelClass}" data-dojo-attach-point="planSelectorLabel">Description: </span>
        <span data-dojo-attach-point="planDescriptionDiv"></span>

    </div>



</div>