<div data-dojo-attach-point="containerNode">
    <div class="${rowClass}" data-dojo-attach-point="passwordRow">
        <span  class="${labelClass}" data-dojo-attach-point="passwordLabel">Password: </span>
        <input type="password" name="${passwordFieldName}" required="true"
               data-dojo-type="dijit/form/ValidationTextBox"
               data-dojo-attach-point="password"/>
    </div>

    <div class="${rowClass}" data-dojo-attach-point="passwordConfirmRow">
        <span class="${labelClass}" data-dojo-attach-point="passwordConfirmLabel">Confirm Password: </span>
        <input type="password" name="${confirmFieldName}" required="true"
               data-dojo-type="dijit/form/ValidationTextBox"
               data-dojo-attach-point="passwordConfirmation"/>
    </div>




</div>