@* UploadedFilesManagement Template File *@
@(param: Any)


@main("Uploaded Files") {
	
<div id="uploadFileManagement" data-dojo-type="uploadshield/UploadFileManagement"></div>


<div>
    <a href="@routes.AccountManagement.index()">Back to Account Home</a>
</div>


<!-- 
<div class="tundra" style="position: relative; width: 900px;">

   <div style="position: absolute; top:0;left: 0;width: 200px; height: 150px;">
   	    
   		<div style="margin-bottom: 5px;">
   			<input style="vertical-align: middle;" type="checkbox"/>
   			<label style="width: 60px;display: inline-block;">Start Date:</label>
   			<input style="width: 100px;" type="text" id="startDate" name="startDate" data-dojo-type="dijit/form/DateTextBox" disabled="disabled"/>
   		</div>
   		
   		<div style="margin-bottom: 5px;">
   		    <input style="vertical-align: middle;" type="checkbox"/>
			<label style="width: 60px;display: inline-block;">End Date:</label>
			<input style="width: 100px; type="text" id="endDate" name="endDate" data-dojo-type="dijit/form/DateTextBox" disabled="disabled"/>
		</div>
		
		<div style="margin-bottom: 5px;">
   		    <input style="vertical-align: middle;" type="checkbox"/>
			<label style="width: 60px;display: inline-block;">Search:</label>
			<input style="width: 100px; type="text" id="searchString" name="searchString"  data-dojo-type="dijit/form/TextBox" disabled="disabled"/>
		</div>
		
		<div style="margin-bottom: 5px;">
   		    <input style="vertical-align: middle;" type="checkbox"/>
			<label style="width: 60px;display: inline-block;">Status:</label>
			<select style="width: 100px;" id="statusSelect" name="statusSelect"  data-dojo-type="dijit/form/Select">
				<option value="Complete">Complete</option>
				<option value="Transferring">Transferring</option>
				<option value="Initiated">Initiated</option>
				<option value="Deleted">Deleted</option>
			</select>
		</div>
		
		<div style="position: absolute; bottom: 0;">
			<button data-dojo-type="dijit/form/Button" type="button">Apply Filter</button>
		</div>
		
   </div>
   


	<div style="position: absolute; top:0; right: 0; width: 700px;">
		<div id="uploadFileManagement" data-dojo-type="uploadshield/UploadFileManagement" style="width: 700px;"></div>
	</div>
    
</div>
 -->
 
}




